@use '../util' as *;

ul{
    margin: 0;
}


.nav-item{
    font-size: rem(14);
    font-weight: 500;
}

.logo{
    font-size: rem(24);
    font-family: var(--font-main);
    color: rgb(255, 255, 255);
}