@use '../util' as *;

.contact-p{
    min-height: 50vh;
    background-color: var(--black);
    color:white;
    padding-top: rem(50)
}

.row{
    display:flex;
    justify-content: space-between;
    flex-wrap: wrap;
    .a-row{
        max-width:rem(400);
        width:90%;
        margin: 0 rem(20) rem(40) 0;

        p{
            color: var(--dark-white);
            margin: rem(30) 0 rem(50) 0
        }

        .row-ul{
            display:flex;
            padding:0;
            .l-svg {
                background:var(--red);
                margin-right: rem(15);
                padding: rem(8) rem(9) rem(7) rem(9);
                border-radius: rem(100); 
                transition: all 0.3s linear;

                & svg{
                    width:rem(24);
                    height:rem(24);
                    fill:var(--white);
                    
                }
                &:hover{
                    background:var(--white);
                }
                &:hover .p-svg{
                    fill:var(--red);
                }
            }
        }
    }

    .o-row{
        max-width:rem(300);
        width:90%;
        margin: 0 rem(20) rem(40) rem(40);
        .row-ul{
            padding: 0;
            margin-top: rem(30);

            li{
                display: flex;
                justify-content: space-between;
                padding: rem(8) 0;

                .span2{
                    color: var(--dark-white);
                }
            }
        }
    }

    .c-row{
        .row-ul{
            display: flex;
            flex-direction: column;
            padding: 0;
            margin-top: rem(30);
            a{
                color: var(--dark-white);
                margin-bottom: rem(15);
                &:hover{
                    color: var(--white);
                }
            }
        }
    }
}

@include breakpoint-down(medium0) {
    .row .o-row{
        margin: rem(50) rem(20) rem(40) rem(0);
    }
    .row .c-row{
        margin: rem(50) rem(0) rem(40) rem(0);
    }
}



// about
.choise{
    min-height: 75vh;
    .about-t{
        justify-content:flex-start;
        align-items: flex-start;

        .front-heading{
            text-align:left;
        }
    }

    .sec-c .heading-menu{
        padding: rem(20);
        &:hover{
            transition-delay: 0;
            transform: translateY(rem(-10));
        }
        .number{
            font-weight: bold;
            color:var(--red);
            margin: 0;
        }

        h3{
            margin: rem(10) 0 rem(30) 0;
        }
    }
}

.chefs{
    min-height: 80vh;
    background-color: #F5F5F5;
    margin-bottom: rem(250);
    padding-bottom: 0;

    & .chefs__cont{
        @include flex(center);
        flex-wrap: wrap;
        gap: rem(50);
        transform: translateY(rem(100));


        .person{
            position:relative;
            height: 50vh;
            @include flex(flex-end);
            flex-direction: column;
            z-index: 1;

            &::before{
                content: "";
                position: absolute;
                top: 0;
                left: 0;
                right: 0;
                bottom: 0;
                z-index: -1;
                background: #000;
                background: linear-gradient(
                0deg,black 0%,rgba(0,0,0,0) 100%);
            }


            .row-ul{
                padding:rem(10) rem(0) rem(50) rem(0);
                @include flex(space-between);
                gap: rem(10);
                
                .l-svg{
                    background: var(--red);
                    padding: rem(8) rem(9) rem(7) rem(9);
                    border-radius:100px;
                    transition: all 0.3s linear;
                    
                    &:hover{
                        background:var(--white);
                    }
                    &:hover .p-svg{
                        fill:var(--red);
                    }
                }
            }

        }


        .person1{
            background: var(--red) url('images/chef1.webp') no-repeat center;
            width:360px;
        }
        .person2{
            background: var(--red) url('images/chef2.webp') no-repeat center;
            width: 360px;
        }
        .person3{
            background: var(--red) url('images/chef3.webp') no-repeat center;
            background-size: cover;
            width: 360px;
        }
    }
}

.t-form{
    min-height: 80vh;
    background-color: var(--red);

    form{
        .title{text-align: center;}

        .placeholders{
            @include flex(center);
            flex-wrap: wrap;
            gap: rem(50);
            div{ 
                width: rem(300);
                height: rem(50);

            }
        }
        .form-control{
            width: 100%;
            height: 100%;
            padding-left: rem(10);
            background: transparent;
            border: rem(1) solid var(--white-border);
            color: var(--white) ;
            border-radius: rem(2);
        }

        .f-btn{
            padding: 0;
            cursor: pointer;
            background: var(--white);
            color: var(--black); 
            transition: all 0.3s linear;
            
            &:hover{
                color: var(--red);
            }
        }
    }
        
}
