@use '../util' as *;

.page-menu{
    min-height: calc(100vh - 8vh - 2.3rem);

}

.sec-t{
    @include flex(center);
    flex-direction: column;
    padding-bottom: 6rem ;
}

.sec-c{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: rem(30);

    .heading-menu{
        position: relative;
        background-color: var(--white-bg);
        border: 1.5px dashed var(--white-border);
        padding: 3em 1.5em .5em 1.5em;
        transition: all 0.3s linear;
        height: fit-content;
        &:hover{
            border: 1.5px dashed var(--red)
        }

        .center{
            text-align: center;
            margin-bottom: rem(50);
        }
    }
}
.meals{
    display: flex;
    border-bottom: 1.5px dashed var(--white-border);
    transition: all 0.3s linear;
    padding-bottom: rem(10);
    .meals-txt{
        margin-left: rem(20);
        width: 100%;
    }
    &:hover .meals-h{
        color: var(--red);
    }
    &:hover {
        border-bottom: 1.5px dashed var(--red);
    }


}
.center-meal{
    padding: rem(26) 0 rem(10) 0;
    margin-bottom: rem(26);
}

.last-meal{
    border: none;
    &:hover {
        border: none;
    }
}

.meals-flex{
    display: flex;
    justify-content: space-between;

    .meals-h{
        transition: all 0.3s linear;
        max-width: rem(100);
    }
}

.meals-in{
    max-width: rem(200)
}

.meals-img{
    width: rem(100);
    height: rem(100);

    & img{
      width: 100%;
      border-radius: rem(100);
    }
}


.menu-svg{
    position: absolute;
    top: 0;
    left: 0;

    & svg{
        fill:var(--white-border);
        width: rem(50);
        height: rem(50);
    }
}


.full-menu{
    min-height: 100vh;
}


@include breakpoint-down(medium) {
    .sec-c{
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: rem(30);
    }
}

@include breakpoint-down(small2) {
    .sec-c{
        display: grid;
        grid-template-columns: none;
        gap: rem(30);
    }
}