@use '../util' as *;

nav{
    position:fixed;
    width: 100%;
    top: 0;
    z-index: 10;
}

.navbar{
    width: 100%;
    min-height: 8vh;
    padding: rem(10) rem(30);
    background-color: var(--black);
    @include flex(space-between);
    box-shadow: rgba(0, 0, 0, 0.1) rem(0) rem(10) rem(15) rem(-3), rgba(0, 0, 0, 0.05) rem(0) rem(4) rem(6) rem(-2);
}
.logo span{
    color: var(--red)
}

.nav-links{
    @include flex(space-between);
    padding: 0;
    &.container{
        max-width: rem(600);
        width: 100%;
        margin: 0 auto;
    }
}
.nav-item a{
    color: var(--white);
    transition: color .5s cubic-bezier(0.165, 0.84, 0.44, 1);
    &:hover{
        color: var(--red);
    }
}

.contact{
    background: var(--red);
    border-radius: 100%;
    padding: rem(3) rem(11) rem(2) rem(11);
    svg{width: rem(25)}
    &:hover{
        background: var(--white);
        svg{path{fill:red}}
    }
}

.btn-active{
    background: var(--white);
    svg{path{fill:red}}

}

.burger{ 
    display: none;
    cursor: pointer;
    padding: 10px 0 10px 10px;
    & div{
        transition: all 1.2s cubic-bezier(0.075, 0.82, 0.165, 1);
        width: 35px;
        height: 3px;
        background: var(--white);
        border-radius: 100px;
        &:nth-child(1){
            transform: translateY(-10px);
        }
        &:nth-child(3){
            transform: translateY(10px);
        }
    }
    &:hover div{
        &:nth-child(1){
            transform: translateY(-6px);
        }
        &:nth-child(3){
            transform: translateY(6px);
        }
    }
}
.rotate{
    transform: rotateZ(90deg);
}



.links-toggle {
    transition: all 0.3s linear;
    background: #1c1919;
    height: 0;
    padding-bottom: 0;
    overflow: hidden;
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}




@include breakpoint-down(medium){
    .burger{ 
        display: block;
    }
    .nav-links{
        display: none;
    }

    .nav-active{
        height: 35vh;
        padding-bottom: 2rem;
        
    }
    .contact{
        display: none;
    }
}



